.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.brand-logo {
  width: 40px;
}

.brand-name {
  font-size: 32px;
  font-weight: 600;
}
